hr {
  background-color: #6610f2;
  opacity: 1;
}

header h3 {
  color: rebeccapurple;
}

header i {
  /* color: rebeccapurple; */
  position: relative;
}

.basket {
  position: absolute;
  border-radius: 3%;
  /* right: 220px; */
  display: block;
  background-color: mediumaquamarine;
}

.basket li {
    background-color: burlywood;
}

.btn:hover {
  color: white
}

.basketContainer span {
  /* color: blueviolet */
}

.badge {
  color: #198754;
}

.btnBasket:hover .badge {
  color: white;
}

.basket .btn-danger {
  margin-bottom: 21px;
  margin-right: 22px;
}